.mainContent p,
.mainContent h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.mainContent button a {
  color: #fff;
  text-decoration-line: none;
}
